<!DOCTYPE html>
<html lang="ru">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>{{ title }} - AskIt</title>
    </head>
    <body>
      <div>AskIt: 
        <a href="{{ url_for('index') }}">Home</a> 
        <a href="{{ url_for('login') }}">Login</a> 
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </body>
</html>
